doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js') # fix
    block content
    